<h1><%= data.title %></h1>
<ul>
    <% for(var i=0; i<data.languages.length; i++) { %>
    <li>
        <a href='supplies/<%= data.languages[i] %>'>
            <%= data.languages[i] %>
        </a>
    </li>
    <% } %>
</ul>